.mainContain {
  display: flex;
  margin-top: 30px;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.leftHeader img {
  height: 90px;
}

.centerHeader {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 768px) {
  .centerHeader {
    display: none;
  }
}

.rightHeader {
  display: flex;
  align-items: center;
}

.rightHeader span {
  margin: 5px;
}
