.mainContain {
  display: grid;
  height: 100px;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr;
}

.leftHeader img {
  height: 90px;
}

.centerHeader {
  font-family: fantasy;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}

@media (max-width: 768px) {
  .centerHeader {
    display: none;
  }
}

.rightHeader {
  display: flex;
  align-items: center;
  justify-content: right;
  /* cursor: pointer; */
  letter-spacing: 1.12px;
}

.rightHeader span {
  margin: 5px;
}

.navMenu {
  display: flex;
}

.navMenu a {
  display: flex;
  align-items: center;
  padding: 0 12px;
}
.navMenu a img {
  height: 20px;
  padding-right: 5px;
}
.navMenu a span {
  font-size: 13px;
  letter-spacing: 1.42px;
  position: relative;
}
.navMenu a span::after {
  content: "";
  height: 2px;
  background: black;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -6px;
  opacity: 0;
  transform-origin: center;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
  transform: scaleX(0);
}

.navMenu a:hover span:after {
  transform: scaleX(1);
  opacity: 1;
}
.customMenu {
  cursor: pointer;
}

.customClose {
  cursor: pointer;
}

.closeWrapper {
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}
